

<div class="card text-center">

    <div class="card-body">
        <p><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank"><img style="border-width:0" src="https://licensebuttons.net/l/by-nc-sa/4.0/80x15.png"></a></p>
        <p class="am-text-sm am-text-center"><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank"> 本站采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可。</a></p>
       <p>Powered by <a href="https://gitee.com/J_Sky/suiyan">SuiYan</a> | by J.sky</p>
       <p> <small>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 17python.com <a href="http://www.miitbeian.gov.cn/" class="am-link-muted" style="color:#ccc;" target="_blank">辽ICP备17014905号-1</a> 

        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=21130202000363" class="am-link-muted" style="color:#ccc;"><img src="http://www.17python.com/media/upload/2017/09/batb.png">辽公网安备 21130202000363号</a>
        </small></p>
        
    </div>

  </div>
  
  


<!-- Scroll to Top button selector -->
<a class="to-top"><i class="fa fa-chevron-up fa-3" aria-hidden="true"></i></a>
<script src="assets/plugins/jquery.toTop.min.js"></script>
<script>
    jQuery(function($){
        // Plugin activation (basic - with all default values)
        // $('.to-top').toTop();

        // Plugin activation with options
        $('.to-top').toTop({
            //options with default values
            autohide: true,  //boolean 'true' or 'false'
            offset: 420,     //numeric value (as pixels) for scrolling length from top to hide automatically
            speed: 500,      //numeric value (as mili-seconds) for duration
            position:true,   //boolean 'true' or 'false'. Set this 'false' if you want to add custom position with your own css
            right: 15,       //numeric value (as pixels) for position from right. It will work only if the 'position' is set 'true'
            bottom: 30       //numeric value (as pixels) for position from bottom. It will work only if the 'position' is set 'true'
        });
    });
</script>



<!-- 搜索模态对话框。 -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">搜索结果</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="search-list car-list navbar-nav">

                </ul>
            </div>
        </div>
    </div>
</div>








    
    
    
    
    <!-- 百度统计代码 -->
    
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?a30b8bfaeb263300b7c492d48dee6912";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    
    <!-- 百度自动推送工具代码 -->
    <script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https'){
       bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else{
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>